/* body{
    background-color: aqua;
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* box-sizing: border-box; mane holo majhe majhe kono padding er part box er baire ber hoye jaite pare, eta jno na hoy ejonno box-sizing: border-box; use korbo jno padding all time box ee moddhei thake */
}

/* shared style */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}
.btn-grp{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 48px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 50px, bottom right;
}
nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 1px solid rebeccapurple; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    /* font-weight: ; */
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}


#about{
    padding: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 110px;
}
/* #about .about-container .about-info   othoba */
.about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info div p{
    font-size: 15px;
    line-height: 30px;
    color: #757575;
}
.about-info div h4{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: 600;
}
#skills{
    padding-top: 130px;
}
.skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px #00000063;
}
.skill-card img{
    margin-bottom: 30px;
    max-width: 44px;
}
.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#resume{
    padding-top: 130px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    /* font-weight: 600; */
    margin-bottom: 30px;
    color: #757575;
}
.resume-container hr{
    margin-bottom: 30px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-container .icon a{
    margin-right: 24px;
}
.footer-container form input, .footer-container form textarea{
    padding: 18px;
    width: 461px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

.hide{
    display: none !important;
}

@media screen and (max-width: 576px) {
   #skills{
    padding-top: 60px; 
}
.skill-container {
    width: 95%;
    /* max-width: 1140px;
    margin: 0 auto; */
}
.section-heading h2 {
    font-size: 30px;
    /* font-weight: bold;
    color: #181818;
    margin-bottom: 30px; */
}
.skill-box, .about-container .about-info, footer .footer-container, #resume .resume-container, nav, 
    #banner  {
    /* display: flex;
    gap: 24px; */
    flex-direction: column;
    align-items: center;
}
.skill-box .skill-card{
max-width: 100%;

}
#about .about-container{
    padding: 15px;
}
#about{
    padding: 15px;
}
.about-container .about-info{
    gap: 20px;
}
.footer-container form input, .footer-container form textarea {
    /* padding: 18px; */
    width: 100%;
    /* margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575; */
}
#resume .resume-container{
    margin-top: 60px;
}
.resume-card{
    margin-right: 10px;
}
nav{
    gap: 10px;
}
nav .menu{
    flex-wrap: wrap;
    justify-content: center;
}
#banner {
    margin: 20px;
    gap: 20px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    text-align: center;
}
#banner .banner-content h1 {
    font-size: 45px;
}
#banner .banner-content h2{
    font-size: 30px;
}
#banner .banner-image img{
    width: 100%;
}
.btn-grp{
    justify-content: center;
}
header {
    /* background-color: #FFF8F3; */
    /* padding-top: 48px; */
    background: url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;
}
}